doctype 5
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="format-detection", content="telephone=no")
        meta(name="viewport", content="user-scalable=no, initial-scale=1, maximum-scale=1, width=device-width, height=device-width, target-densitydpi=device-dpi")
        link(rel="stylesheet", type="text/css", href="css/app.min.css")
        title Hello World
    body
        div.app.js-app
          //Hidden menu
          div.topcoat-navigation-bar--secondary
            div.topcoat-navigation-bar__item.full.left
              div.topcoat-navigation-bar__title--secondary Sub Menu
          div.topcoat-list__container--secondary.app-secondary-menu.js-secondary-menu.needsclick
            h1.topcoat-list__header--secondary Secondary Menu
            ul.topcoat-list--secondary
              - var items = 0
              - while (items < 50)
                items = items + 1
                if items == 1
                  li.topcoat-list__item--first--secondary= items
                else
                  li.topcoat-list__item--secondary= items

          div.app-container.js-app-container
            div.topcoat-navigation-bar.app-header
              div.topcoat-navigation-bar__item.quarter.left
                a.topcoat-icon-button--quiet.js-menu-button(href="#")
                  span.topcoat-icon.topcoat-icon--menu-stack
              div.topcoat-navigation-bar__item.half.center
                h2.topcoat-navigation-bar__title Hello

            div.topcoat-list__container.app-menu.js-menu.needsclick
              h2.topcoat-list__header Menu
              ul.topcoat-list.js-list
                - var items = 0
                - while (items < 20)
                  items = items + 1
                  if items == 1
                    li.topcoat-list__item--first= items
                  else
                    li.topcoat-list__item= items

              h2.topcoat-list__header Another Menu
              ul.topcoat-list
                - var items = 0
                - while (items < 10)
                  items = items + 1
                  if items == 1
                    li.topcoat-list__item--first= items
                  else
                    li.topcoat-list__item= items


        script(src="js/hello.min.js")

